<li class="nav-item active"><a class="nav-link" href="~/">Ana Sayfa</a></li>
<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Ürünler</a></li>
<li class="nav-item"><a class="nav-link" href="contact.html">Kampanyalar</a></li>
<li class="nav-item"><a class="nav-link" href="contact.html">İletişim</a></li>


<li class="nav-item submenu dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        @(User.Identity?.Name is null ? "Üyelik" : User.Identity.Name)
        </a>
    <ul class="dropdown-menu">
        @if (User.Identity?.IsAuthenticated == true)
        {
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Profilim</a>
            </li>
            @if(User.IsInRole("Admin"))
            {
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                </li>
            }
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">Çıkış Yap</a>
            </li>

        }
        else
        {
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Login">Giriş Yap/Kayıt
                    Ol</a>
            </li>
        }
    </ul>
</li>